
.header {
    background-color: lightgray;
    padding: 20px;
    text-align: center;
}

.topnav {
    overflow: hidden;
    background-color: gray;
}

.topnav a {
    float: left;
    color: aliceblue;
    padding:14px 16px;
}

.topnav a:hover {
    background-color: azure;
    color: black;
}

.content {
    background-color: beige;
    padding: 10px;
}

.footer {
    background-color: lightcyan;
    padding: 10px;
    text-align: center;
}

